In [2]:
import requests
import random
import pandas as pd 
pd.options.mode.chained_assignment = None # default='warn'
from tqdm import tqdm
from bs4 import BeautifulSoup
#from cred_here import YOUR_API_KEY
import json 
from tqdm import tqdm
import time
from datetime import datetime

import ast

In [3]:
YOUR_API_KEY = '4901aad006d0464594531f2f481f52f6'

In [4]:
#url =

In [5]:
df = pd.read_csv('Precios_Combustibles.csv')

In [6]:
df=df.rename(columns={'departamentocodigo':'Cod.Departamento','departamentonombre':'Departamento', 'municipiocodigo':'Cod.Municipio', 'municipionombre':'Municipio', 'agente':'Agente', 'bandera':'Bandera', 'direccion':'Direccion', 'producto':'Producto', 'precio':'Precio', 'estado':'Estado', 'fecharegistro':'Registro'})

In [7]:
type(df['Registro'][0])

str

In [8]:
df['Registro'].count()

13574

In [9]:
df['Registro'][0]

'01/08/2015 12:00:00 AM'

In [10]:
Periodo = []
Mes = []
for i in range(df['Registro'].count()):
   Periodo.append(datetime.strptime(df['Registro'][i], '%m/%d/%Y %H:%M:%S %p').year)
   Mes.append(datetime.strptime(df['Registro'][i], '%m/%d/%Y %H:%M:%S %p').month)
df['Periodo']=Periodo
df['Mes']=Mes

In [11]:
df.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes
0,18,CAQUETA,18756,SOLANO,COMERCIALIZADORA EL HUECO,TERPEL,Puerto Principal,BIODIESEL EXTRA,8500,1,01/08/2015 12:00:00 AM,2015,1
1,99,VICHADA,99624,SANTA ROSALIA,ESTACION DE SERVICIO LA VICTORIA,BRIO,Carrera 9 con calle 3 No. 08-92-96,BIODIESEL EXTRA,9000,1,01/08/2016 12:00:00 AM,2016,1

<h1><center>Geocoding Api's</center></h1>

## Google API

* [**Google_Free_Tier**](https://cloud.google.com/free/?utm_source=google&utm_medium=cpc&utm_campaign=latam-LATAM-all-es-dr-AKWS-all-all-trial-p-dr-1011454-LUAC0013610&utm_content=text-ad-none-any-DEV_c-CRE_540885993580-ADGP_Hybrid%20%7C%20BKWS%20-%20PHR%20%7C%20Txt%20~%20Management-Tools_Console-KWID_43700065922071537-kwd-651816590614&utm_term=KW_google%20console-ST_Google%20Console&gclid=Cj0KCQjwnbmaBhD-ARIsAGTPcfWVMlJlTFywFNaAo8P-MNL4_gM6L7yucqAQ37xg1AIEHzpAzF_kkAoaAsszEALw_wcB&gclsrc=aw.ds)
* [**Google_Api_Pricing**](https://mapsplatform.google.com/pricing/)

## HERE Platform

* [**Here_Register**](https://platform.here.com/sign-up?step=verify-identity&aid=www.here.com-start-building)
* [**Here_Princing**](https://www.here.com/pricing)
* [**Geocoding_Documentation**](https://developer.here.com/documentation/geocoding-search-api/dev_guide/topics/endpoint-geocode-brief.html)

In [12]:

periodo = list(df.Periodo.unique())
periodo

[2015, 2016, 2017, 2018]

# Clean Data

In [13]:
df[df['Periodo']==2018].head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes
3,5,ANTIOQUIA,5837,TURBO,BOMBA CODI EL PUEBLO,PROXXON,CRA 13 99 A 41,BIODIESEL EXTRA,8893,1,05/07/2018 12:00:00 AM,2018,5
8,95,GUAVIARE,95200,MIRAFLORES,ESTACION DE SERVICIO LA ESMERALDA 1,TERPEL,VIA AEROPUERTO PRINCIPAL BARRIO CHINO,GASOLINA CORRIENTE OXIGENADA,10900,1,01/29/2018 12:00:00 AM,2018,1

In [14]:
df2 =  df[(df['Periodo']==2018) & (df['Mes']==5)]
df2 =  df2[(df2['Departamento']=='BOGOTA D.C.') | (df2['Departamento']=='ANTIOQUIA')]

In [15]:
df2['Municipio'].value_counts().head(5)

BOGOTA D.C.           1278
MEDELLIN               305
BELLO                   59
ITAGUI                  53
CANON DE RIO CLARO      48
Name: Municipio, dtype: int64

In [24]:
df3 = df2[(df2['Departamento']=='BOGOTA D.C.') | ((df2['Departamento']=='ANTIOQUIA') & ((df2['Municipio']=='BOGOTA D.C.') | (df2['Municipio']=='MEDELLIN') | (df2['Municipio']=='BELLO')))]
df3.reset_index(drop = True, inplace = True)

In [25]:
df3['Municipio'].value_counts()

BOGOTA D.C.    1278
MEDELLIN        305
BELLO            59
Name: Municipio, dtype: int64

In [26]:
df3.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,EDS ESSO INDUSTRIAL BOYACA,MOBIL,CARRERA 71 No. 19-05,GASOLINA CORRIENTE OXIGENADA,9090,1,05/02/2018 12:00:00 AM,2018,5

In [27]:
list(df3['Municipio'].unique())

['BOGOTA D.C.', 'MEDELLIN', 'BELLO']

In [28]:
#df3['Dir2'] = df3['Direccion'].apply(lambda x : x.replace('#','No'))
df3['Direccion_2'] = df3['Direccion'].apply(lambda x: x.replace('#', 'No'))
df3['Full_Address'] = df3.apply(lambda x : x['Direccion_2'] + ', ' + x['Municipio'].capitalize() + ', Colombia' , axis = 1)
df3.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia"
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,EDS ESSO INDUSTRIAL BOYACA,MOBIL,CARRERA 71 No. 19-05,GASOLINA CORRIENTE OXIGENADA,9090,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 71 No. 19-05,"CARRERA 71 No. 19-05, Bogota d.c., Colombia"

In [29]:
df3['Full_Address'].nunique()

514

In [30]:
len(df3)

1642

In [31]:
df3['Full_Address'][0]

'CARRERA 120 No. 17-37, Bogota d.c., Colombia'

In [32]:
estaciones =  df3[['Agente','Direccion_2','Full_Address']].drop_duplicates(subset = 'Agente')
estaciones.reset_index(drop = True, inplace = True)
#estaciones.drop(columns = 'index',inplace = True)

In [33]:
estaciones['Full_Address'][0]

'CARRERA 120 No. 17-37, Bogota d.c., Colombia'

In [34]:
address = estaciones['Full_Address'][0]
url=f'https://api.opencagedata.com/geocode/v1/geojson?q={address}&key={YOUR_API_KEY}&pretty=1'
#url = f'https://geocode.search.hereapi.com/v1/geocode?q={address}&apiKey={YOUR_API_KEY}'
response = requests.get(url).json()

In [35]:
response

{'documentation': 'https://opencagedata.com/api',
 'features': [{'geometry': {'coordinates': [-74.18333, 4.25], 'type': 'Point'},
   'properties': {'annotations': {'DMS': {'lat': "4° 15' 0.00000'' N",
      'lng': "74° 10' 59.98800'' W"},
     'MGRS': '18NWK9062969809',
     'Maidenhead': 'FJ24vg80aa',
     'Mercator': {'x': -8258050.521, 'y': 470377.987},
     'OSM': {'note_url': 'https://www.openstreetmap.org/note/new#map=17/4.25000/-74.18333&layers=N',
      'url': 'https://www.openstreetmap.org/?mlat=4.25000&mlon=-74.18333#map=17/4.25000/-74.18333'},
     'UN_M49': {'regions': {'AMERICAS': '019',
       'CO': '170',
       'LATIN_AMERICA': '419',
       'SOUTH_AMERICA': '005',
       'WORLD': '001'},
      'statistical_groupings': ['LEDC']},
     'callingcode': 57,
     'currency': {'alternate_symbols': ['COL$'],
      'decimal_mark': ',',
      'disambiguate_symbol': 'COL$',
      'html_entity': '&#36;',
      'iso_code': 'COP',
      'iso_numeric': '170',
      'name': 'Colombian Peso',
      'smallest_denomination': 20,
      'subunit': 'Centavo',
      'subunit_to_unit': 100,
      'symbol': '$',
      'symbol_first': 1,
      'thousands_separator': '.'},
     'flag': '🇨🇴',
     'geohash': 'd2g0pvtq517vw8656hh4',
     'qibla': 65.23,
     'roadinfo': {'drive_on': 'right', 'speed_in': 'km/h'},
     'sun': {'rise': {'apparent': 1674990780,
       'astronomical': 1674986460,
       'civil': 1674989460,
       'nautical': 1674987960},
      'set': {'apparent': 1675033620,
       'astronomical': 1674951540,
       'civil': 1675034940,
       'nautical': 1675036440}},
     'timezone': {'name': 'America/Bogota',
      'now_in_dst': 0,
      'offset_sec': -18000,
      'offset_string': '-0500',
      'short_name': '-05'},
     'what3words': {'words': 'downs.stagnate.smoking'}},
    'bounds': {'northeast': {'lat': 4.8355191, 'lng': -73.9950386},
     'southwest': {'lat': 3.6753832, 'lng': -74.4935612}},
    'components': {'ISO_3166-1_alpha-2': 'CO',
     'ISO_3166-1_alpha-3': 'COL',
     '_category': 'place',
     '_type': 'state',
     'continent': 'South America',
     'country': 'Colombia',
     'country_code': 'co',
     'state': 'Bogota D.C.'},
    'confidence': 1,
    'formatted': 'Bogota D.C., Colombia'},
   'type': 'Feature'}],
 'licenses': [{'name': 'see attribution guide',
   'url': 'https://opencagedata.com/credits'}],
 'rate': {'limit': 2500, 'remaining': 1984, 'reset': 1675036800},
 'status': {'code': 200, 'message': 'OK'},
 'stay_informed': {'blog': 'https://blog.opencagedata.com',
  'mastodon': 'https://en.osm.town/@opencage',
  'twitter': 'https://twitter.com/OpenCage'},
 'thanks': 'For using an OpenCage API',
 'timestamp': {'created_http': 'Sun, 29 Jan 2023 01:42:00 GMT',
  'created_unix': 1674956520},
 'total_results': 1,
 'type': 'FeatureCollection'}

In [36]:
response['features'][0]['properties']['annotations']['DMS']['lat']

"4° 15' 0.00000'' N"

In [37]:
def Get_Coords(address,YOUR_API_KEY):
    
    #url = f'https://geocode.search.hereapi.com/v1/geocode?q={address}&apiKey={YOUR_API_KEY}'
    
    url=f'https://api.opencagedata.com/geocode/v1/geojson?q={address}&key={YOUR_API_KEY}&pretty=1'
    
    try : 
        
        response = requests.get(url).json()
        #CleanAddress = response['items'][0]['title'].upper()
        CleanAddress = address
        LAT = response['features'][0]['properties']['annotations']['DMS']['lat']
        LNG = response['features'][0]['properties']['annotations']['DMS']['lng']
        
        results = [CleanAddress,LAT,LNG]
        
    except :
        
        results = ['Not Found','NA','NA']
        
    
    return results

In [38]:
Get_Coords(address,YOUR_API_KEY)

['CARRERA 120 No. 17-37, Bogota d.c., Colombia',
 "4° 15' 0.00000'' N",
 "74° 10' 59.98800'' W"]

# Extracción de coordenadas

In [39]:
coordenadas = []
tiempo = [1,2,2.5]

for i in tqdm(range(len(estaciones['Full_Address'])),colour = 'green'):
    
    try :
        
        R = Get_Coords(estaciones['Full_Address'][i],YOUR_API_KEY)
        geo_source = R[1],R[2]
        coordenadas.append(geo_source)
        
    except :
        
        coordenadas.append('Error')
        
    
    time.sleep(random.choices(tiempo)[0])

100%|█████████████████████████████████████████| 513/513 [26:09<00:00,  3.06s/it]

In [121]:
estaciones['Coords'] = coordenadas
estaciones.head(2)

,Agente,Direccion_2,Full_Address,Coords
0,ESTACION DE SERVICIO METROPOLITANA,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(4° 15' 0.00000'' N, 74° 10' 59.98800'' W)"
1,EDS ESSO INDUSTRIAL BOYACA,CARRERA 71 No. 19-05,"CARRERA 71 No. 19-05, Bogota d.c., Colombia","(4° 15' 0.00000'' N, 74° 10' 59.98800'' W)"

In [122]:
len(df3)

1642

In [124]:
type(estaciones)

pandas.core.frame.DataFrame

In [125]:
df_final = pd.merge(df3,estaciones[['Full_Address','Coords']],how = 'inner' , on = 'Full_Address')

In [127]:
df_final.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(4° 15' 0.00000'' N, 74° 10' 59.98800'' W)"
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,GASOLINA CORRIENTE OXIGENADA,9095,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(4° 15' 0.00000'' N, 74° 10' 59.98800'' W)"

In [130]:
df_final = pd.merge(df3,estaciones[['Full_Address','Coords']],how = 'inner' , on = 'Full_Address')

In [131]:
df_final.to_csv('DATASET_FINAL.csv',index = False)

In [133]:
df_map = pd.read_csv('DATASET_FINAL.csv')

In [134]:
df_map.head(3)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,GASOLINA CORRIENTE OXIGENADA,9095,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"
2,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIOACEM AL 9%,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"

In [135]:
df_map = df_map.drop_duplicates(subset = ['Agente','Bandera','Producto'])

In [136]:
len(df_map)

1641

In [137]:
df_map.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,GASOLINA CORRIENTE OXIGENADA,9095,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"

In [138]:
df_map['Coords'].value_counts()

("4° 15' 0.00000'' N", "74° 10' 59.98800'' W")     785
("6° 15' 6.62400'' N", "75° 33' 48.92400'' W")     162
("4° 36' 19.23336'' N", "74° 7' 4.70064'' W")      151
("4° 37' 34.10328'' N", "74° 5' 15.97560'' W")      47
("6° 20' 14.35200'' N", "75° 33' 28.62000'' W")     44
                                                  ...
("6° 20' 12.35580'' N", "75° 33' 2.72952'' W")       2
("6° 17' 21.47964'' N", "75° 35' 30.03396'' W")      1
("6° 12' 30.05460'' N", "75° 33' 52.53840'' W")      1
("6° 16' 28.09308'' N", "75° 33' 47.53440'' W")      1
("6° 13' 39.76932'' N", "75° 33' 37.45188'' W")      1
Name: Coords, Length: 102, dtype: int64

In [139]:
df_map[df_map['Coords'].str.contains("NA")]
#df_map[df_map['Coords'] == "('NA','NA')"]['Direccion'].unique()

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords
1328,5,ANTIOQUIA,5001,MEDELLIN,ESTACION DE SERVICIO AUTOMOTRIZ COMBUSCOL LA 70,TEXACO,cra70#44-23,BIODIESEL EXTRA,8570,1,05/03/2018 12:00:00 AM,2018,5,cra70No44-23,"cra70No44-23, Medellin, Colombia","('NA', 'NA')"
1329,5,ANTIOQUIA,5001,MEDELLIN,ESTACION DE SERVICIO AUTOMOTRIZ COMBUSCOL LA 70,TEXACO,cra70#44-23,GASOLINA CORRIENTE OXIGENADA,11990,1,05/03/2018 12:00:00 AM,2018,5,cra70No44-23,"cra70No44-23, Medellin, Colombia","('NA', 'NA')"
1330,5,ANTIOQUIA,5001,MEDELLIN,ESTACION DE SERVICIO AUTOMOTRIZ COMBUSCOL LA 70,TEXACO,cra70#44-23,GASOLINA EXTRA OXIGENADA,9060,1,05/03/2018 12:00:00 AM,2018,5,cra70No44-23,"cra70No44-23, Medellin, Colombia","('NA', 'NA')"

In [145]:
df_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1641 entries, 0 to 1640
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Cod.Departamento  1641 non-null   int64
 1   Departamento      1641 non-null   object
 2   Cod.Municipio     1641 non-null   int64
 3   Municipio         1641 non-null   object
 4   Agente            1641 non-null   object
 5   Bandera           1641 non-null   object
 6   Direccion         1641 non-null   object
 7   Producto          1641 non-null   object
 8   Precio            1641 non-null   int64
 9   Estado            1641 non-null   int64
 10  Registro          1641 non-null   object
 11  Periodo           1641 non-null   int64
 12  Mes               1641 non-null   int64
 13  Direccion_2       1641 non-null   object
 14  Full_Address      1641 non-null   object
 15  Coords            1641 non-null   object
dtypes: int64(6), object(10)
memory usage: 282.5+ KB

In [147]:
df_map['Departamento'].unique()

array(['BOGOTA D.C.', 'ANTIOQUIA'], dtype=object)

In [148]:
df_map['Municipio'].unique()

array(['BOGOTA D.C.', 'MEDELLIN', 'BELLO'], dtype=object)

In [150]:
coordenadas = df_map['Coords'][0].replace('(','').replace(')','').replace("\'","").replace("°","").replace("'","").replace('"','').split(',')

In [151]:
coordenadas

['4 15 0.00000 N', ' 74 10 59.98800 W']

In [152]:
coord1= coordenadas[0].split(" ")
coord1

['4', '15', '0.00000', 'N']

In [153]:
coord2 = coordenadas[1].strip(" ").split(" ")
coord2

['74', '10', '59.98800', 'W']

In [157]:
def deg_to_dec(degrees, minutes, seconds, pole):
    if pole == 'S' or pole == 'W':
        sign = -1
    else:
        sign = 1

    decimal = sign * (abs(degrees) + (minutes / 60.0) + (seconds / 3600.0))

    return decimal

In [158]:
deg_to_dec(float(coord1[0]), float(coord1[1]), float(coord1[2]), coord1[3])

4.25

In [159]:
deg_to_dec(float(coord2[0]), float(coord2[1]), float(coord2[2]), coord2[3])

-74.18333

In [160]:
def convertir (coordenadas,tipo):
    
    
        
    coordenadas = coordenadas.replace('(','').replace(')','').replace("\'","").replace("°","").replace("'","").replace('"','').split(',')
    coord1 = coordenadas[0].split(" ")
    coord2 = coordenadas[1].strip(" ").split(" ")
    valor = None
    if coord1[0] != 'NA' and coord2[0] != 'NA' :
        if tipo == 'Latitud':
            valor = deg_to_dec(float(coord1[0]), float(coord1[1]), float(coord1[2]), coord1[3])
        else :
            valor = deg_to_dec(float(coord2[0]), float(coord2[1]), float(coord2[2]), coord2[3])
    else :
        valor = 'Empty'
    return valor

In [161]:
convertir(df_map['Coords'][0],'Latitud')

4.25

In [162]:
convertir(df_map['Coords'][0],'Longitud')

-74.18333

In [163]:
df_map.head(3)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,GASOLINA CORRIENTE OXIGENADA,9095,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"
2,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIOACEM AL 9%,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")"

In [164]:
df_map['Latitud'] = df_map['Coords'].apply(lambda x : convertir(x,'Latitud') if x != "('NA','NA')" else "Empty")
df_map['Longitud'] = df_map['Coords'].apply(lambda x : convertir(x,'Longitud') if x != "('NA','NA')" else "Empty")

In [165]:
df_map.head(2)

,Cod.Departamento,Departamento,Cod.Municipio,Municipio,Agente,Bandera,Direccion,Producto,Precio,Estado,Registro,Periodo,Mes,Direccion_2,Full_Address,Coords,Latitud,Longitud
0,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,BIODIESEL EXTRA,8400,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")",4.25,-74.18333
1,11,BOGOTA D.C.,11001,BOGOTA D.C.,ESTACION DE SERVICIO METROPOLITANA,MOBIL,CARRERA 120 No. 17-37,GASOLINA CORRIENTE OXIGENADA,9095,1,05/02/2018 12:00:00 AM,2018,5,CARRERA 120 No. 17-37,"CARRERA 120 No. 17-37, Bogota d.c., Colombia","(""4° 15' 0.00000'' N"", ""74° 10' 59.98800'' W"")",4.25,-74.18333

In [166]:
df_map['Latitud'].value_counts()

4.250000    785
6.251840    162
4.605343    151
4.626140     47
6.337320     44
           ...
6.336765      2
6.289300      1
6.208349      1
6.274470      1
6.227714      1
Name: Latitud, Length: 102, dtype: int64